
#hero{
    height: 90vh;
    background-image: url(../../images/blog/heroblog.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* Hamburger */
#global_nav label, #hamburger { 
    display: none;
}

#page_links{
    display: flex;
}

#page_links ul{
    display: flex;
    list-style: none;
    margin: auto;
}

#page_links li{
    padding: 0px 10px;
}

#search{
    justify-content: center;
    align-items: center;
}

#search p{
    margin: 0px auto;
    padding: 0px;
    justify-content: center;
    text-align: center;
}
.chat{
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#chat{
    height: 75px;
    width: 75px;
    background-color: #0b4c84;
    color: #fff;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 7px 10px 0px #091d36;
    display: flex;
    align-items: center;
    justify-content: center;
}



.text-hero{
    position: relative;
    top: 25%;
    margin: auto;
    padding: 2% 7%;
    font-size: 230%;
    
}


.text{
    font-size: 160%;
}
.text h2 ,.text-hero h1{
    margin: 10px 0px;
    font-weight: 400;
}
.text-hero p{
    font-size: 80%;
    font-weight: 600;
    padding-left: 15px;
    margin: 10px 0px;
}
.text p{
    font-size: 65%;
    padding-left: 15px;
    margin: 10px 0px;
    font-weight: 300;
}
.explore_now {
    width: 265px;
    height: 48px;
    background-color: #ff8624cc;
    color: #091d36;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    margin-top: 35px;
    box-shadow: 0px 5px 10px 0px #555;
    cursor: pointer;
    transition: 500ms;
}

.explore_now:hover{
    color: #ff8624;
    background-color: #091d36;
}


.heading{
    font-size: 250%;
    padding: 75px 0px 0%;
    margin: auto;
    
}

.section_div{
    width: 980px;
    margin: auto;
    padding: 0px;
    position: relative;
    top: 50px;
    
}

.image_square{
    height: 350px;
    width: 350px;
    border-radius: 55px;
    box-shadow: 0 5px 10px 0px #555;
    transition: transform 800ms ease;
}


.image_square:hover{
    transform: scale(1.2);
}

h6{
    margin: 4%;
    margin-left: 2%;
    color: #0b4c84e8;
}

.left_div{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10% 0%;
    
}

.right_div{
    padding: 10% 0%;
}


.float_left{
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: start;
    top: 0%;
    left: 0%;
    width: 450px;
}

.float_right{
    margin: 0px;
    padding: 0px;
    position: relative;
    right: 0%;
    top: 0%;
    width: 450px;
}

.right{
    margin-left: 19%;
}

.main_section{
    width: 900px;
    margin: auto;
}
.background{
    background-color: #fbfbeb;
    background-image: url("../../images/bg_blog.png");
    background-position-x: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

footer{
    background-color: #555;
}

#copy_right{
    background-color: #091d36;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 0.01fr 2fr;
    align-items: center;
}

.line{
    background-color: #fff;
    height: 70%;
    width: 3px;
}

#contact_info{
    display: grid;
    grid-template-columns: 1fr 0.01fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#social_link{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px  10px;
}

.contact_us{
    padding: 20px;
}

.contact_us p{
    padding: 10px;
    font-size: 20px;
}

#news_letter{
    display: flex;
    flex-direction: column;
}

label{
    margin: 15px auto;
}

#news_letter input{
    margin: auto;
    width: 50%;
}

.full_width{
    width: 90%;
    padding: 0px 0px 0px 90px;
}


@media screen and (max-width: 1024px){

    .logo{
        font-size: 80%;
    }

    #links{
        padding: 0px;
        width: auto;
        margin-left: 25px;
    }
    .text-hero{
        font-size: 180%;
    }
    
    .text{
        font-size: 135%;
    }

    .hero_button{
        width: 265px;
        font-size: 28px;
        height: 60px;
    }
    
    .explore_now{
        width: 200px;
        height: 37px;
        font-size: 20px;
    }

    .section_background{
        min-width: 700px;
    }
    .main_section{
        width: 650px;
    }
    .heading{
        font-size: 170%;
    }

    .float_right{
        width: 350px;
    }

    .float_left{
        width: 350px;
    }
    
    .image_square{
        height: 250px;
        width: 250px;
        border-radius: 30px;
    }

    .full_width{
        padding: 0px 0px 0px 50px;
    }

}



@media only screen and (max-width:768px){
    
    #page_links ul{
        display: none;
        
    }
    
    /* Show Hamburger Icon */
    #global_nav label { 
        display: inline-block; 
        color: #fbfbeb;
        font-style: normal;
        font-size: 1.2em;
        z-index: 1;
        margin: auto 0px auto auto;
    }

    #search{
        top: 31px;
        right: 5%;
    }

  /* Break down menu items into vertical */
    #links{
        box-sizing: border-box;
        width: 100%;
    }

  /* Toggle Show/Hide Menu */
    #hamitems { 
        display: none;
        position: absolute;
        background-color: #091d36;
        width: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
        height: 100vh;
    }
    #page_links input:checked ~ #hamitems  { 
        display: grid;
        grid-template-rows: repeat(5,15%);
        align-items: center;
        font-size: 24px;
    }
    /* Nav end*/


    /* Body */

    #hero{
        height: 50vh;
    }

    .text,.text-hero{
        top: 16%;
        font-size: 120%;
    }

    .text p{
        font-size: 80%;
    }

    .explore_now{
        width: 180px;
        height: 32px;
        font-size: 16px;
    }

    .section_background{
        min-width: 350px;
        text-align: center;
    }

    .section_div, .main_section{
        min-width: 340px;
        width: 80%;
    }

    .background{
        background-image: none;
    }

    .heading{
        font-size: 150%;
    }

    .heading h2{
        font-weight: 400;
    }

    .image_circle{
        height: 250px;
        width: 250px;
    }

    .left_div, .right_div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center ;
    }

    .float_right, .float_left{
        position: static;
        text-align: inherit;
        text-align: center;
    }

    .right{
        margin: 0%;
    }


    /* Footer*/
    #copy_right {
        display: flex;
        flex-direction: column;   
    }
    
    .full_width{
        display:none;
    }

    #contact_info{
        width: 100%;
    }
    
    .contact_us p{
        font-size: 16px;
        
    }

    #news_letter input{
        width: 70%;
        text-align: center;
    }
}